.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6rem 8.4rem;
  background-color: rgba(105, 105, 105, 0.599);
}

.logo {
  width: 97px;
  height: 30px;
  flex: 1;
}

.action {
  flex: 1;
  display: flex;
  justify-content: center;
}
