.container {
    position: relative;
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.content {
    margin-top: 46px;
}

.content h2 {
    font-size: 36px;
    width: 439px;
    margin-bottom: 8px;
    color: #ffffff;
    line-height: 44px;
    font-style: normal;
}

.content > * {
    text-align: center;
}

.content > p {
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.79);
    line-height: 18px;

}