* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  border: none;
}

a { 
  text-decoration: none;
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

@font-face {
  font-family: 'VisueltPro';
  src: local('VisueltPro'), url('./fonts/VisueltPro-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'SF-Pro-M';
  src: local('SF-Pro-M'), url('./fonts/Sofia\ Pro\ Medium\ Az.otf') format('truetype')
}

@font-face {
  font-family: 'SF-Pro-L';
  src: local('SF-Pro-L'), url('./fonts/Sofia\ Pro\ Light\ Az.otf') format('truetype')
}
