.container {
  position: relative;
}

.container > img {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.container h4 {
  margin-bottom: 3px;
}

.container h1 {
  margin-bottom: 23px;
  width: 644px;
}

.container p {
  width: 502px;
  margin: 0 auto;
}
